@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

@import 'variables';

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  line-height: 1;
  background-color: $bg-color;
  color: $text-color;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
